/*---------------Global Start------------------------*/
* {
    margin: 0;
}html, body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666;
}
header{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(250, 250, 250);
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: center;
}
header > a > h1{
    color: gray;
    padding-bottom: 1em;
}
header a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav {
    display: block;
    background-color: #333;
}
nav a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:visited, nav a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.page-title{
    margin-top: 25px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-right: 0px;
    }
.dropbtn{
    padding-left: 0px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

.dropdown-content a {
    float: none;
    margin-top: 2px;
    color: #f9f9f9;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

.dropdown-content a:hover {
    background-color: #333;
    }

.dropdown:hover .dropdown-content {
    display: block;
    }
h2{
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.25rem;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
main {
    display: block;
    background-color: #666;
    padding-top: 3em;
    padding-bottom: 3em;
    height: auto;
    min-height: 85%;
}

aside, article {
    padding: 2em;
}

aside {
    text-align: center;
}
article{
    display: flex;
    height: auto;
    width: 60%;
}


p, li{
    margin-bottom: 1em;
}
footer {
    display: block;
    position: relative;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
}
/*------------------------------Global End-----------------*/

/*-------------------------------Home Start--------------------*/
.home_main{
    background-color: #666;
    padding-left: auto;
    padding-right: auto;
}

* {box-sizing:border-box}
.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;
}
img{
    width: 91%;
    background-color: #aaa;

}
.mySlides{
    display: none;
}
.prev, .next{
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left:0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgb(0,0,0,0.8);
}
.text{
    color: #f2f2f2;
    font-weight: bold;
    font-size: 25px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.text a:visited, nav a:link {
    text-decoration: none;
    color: #f2f2f2;
}
.dot{
    cursor: pointer;
    height: 15px    ;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}
.active, .dot:hover{
    background-color: #333    ;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade{
    from{opacity: 0.4}
    to {opacity:1}
}

/*------------------------------------Home End------------------------*/


/*------------------------------About Me Start-----------------*/
.art-sec-head{
    padding-bottom: 1em;
}
.button__accordian{
    display: block;
    width: 100%;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: solid #333 2px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    text-align: left;
    transition: background-color 0.3s;
    font-size: large;
    margin-bottom: 10px;
}
.button__accordian::after{
    content: '\25be';
    float: right;
    transform: scale(1.5)

}
.button__accordian--active{background-color: #555;}
.button__accordian--active::after{ content: '\25b4';}

.accordian__content{
    transition: max-height 0.3s;
    padding: 0px 25px;
    font-family: sans-serif;
    background-color: #fff;
    overflow: hidden;
    max-height: 0;
}
.accordian_first_content{
    padding-top: 10px;
    padding-bottom: 0px;
}
.about_me_aside > img, .experience_aside > img{
    display: block;
    border: solid black 4px;
    width: 100%;
    height: auto;
}
/*-------------------------------About Me End-------------------------*/




@media (min-width: 375px){
    .about_me_main, .experience_main {
        display:  block;
    }
    article{
        margin-left: 0%;
        margin-right: 0%;
        width: auto;
    }
    aside{
        margin-left: 0px;
        margin-right: 0px;
        width: auto;
    }
    
    p{
        text-align: left;
    }
    ul{
        padding: 0 0 0 20px;
    }
        
}
    @media (min-width: 768px){
        .about_me_main, .experience_main {
            display:  flex;
        }
        
        article{
            margin-left:auto;
            margin-right: auto;
            width: 60%;
        }
        aside{
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
        p{
            text-align: justify;
        }
        ul{
            padding: 0 0 0 40px;
        }
    
    }
