.ui-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;
}

.ui-loader-square {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 2px solid #eef3fc;
    border-radius: 3px;
    transform: rotate(0deg);
    animation: uiLoaderSpin 1.6s infinite ease-in-out;
}

.ui-loader-square:nth-child(2) {
    animation-delay: 0.1s;
}

.ui-loader-square:nth-child(3) {
    animation-delay: 0.2s;
}

.ui-loader-square-inner {
    display: block;
    width: 100%;
    height: 0%;
    background: #eef3fc;
    animation: uiLoaderFill 1.6s infinite ease-in-out;
}

@keyframes uiLoaderSpin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes uiLoaderFill {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}
